*{
    margin: 0px;
    padding: 0px;
}

/*cores da página do youtube, principais possibilidades para página */
div{ 
    /*foto de perfil*/
    color: #b59c71;
    color: #16b8ee;
    color: #0700a1;
    color: #093a8c;
    color: #1e1753;
    /*banner*/
    color: #06001b;
    color: #06cbe4;
    color: #04084f;
    color: #766b86;
    color: #64d9e5;
}

header{
    background-color: #04084f;
    color: #b59c71;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin-top: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

body{
    font-family: Arial, sans-serif;
    background-color: #06001b;
    color: floralwhite;
}
a:hover{
    color: #06cbe4;
}
a::after{
    color: #04084f;
}
main{
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px 0px;
    background-color: #1e1753;
}
section{
    margin: 20px 2px;
    padding: 10px 0px;
    border: 1px solid #b59c71;
    background-color: #b59c71;
    border-radius: 10px;
    max-width: 950px;
    min-width: 450px;
}
footer{
    background-color: #06001b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
    font-size: 17px;
}
footer a {
    color: #00c853;
    text-decoration: none;
}



/* Modal de cookies */
.modal-cookies {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(30, 30, 30, 0.9);
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 9999;
}

.caixa-cookies {
  max-width: 600px;
  margin: 0 auto;
}

.modal-cookies button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #00c853;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
